{% macro render_data(key, value, skip_plugin_test) %}
{%- if key == "github_url" %}
项目 <a href="{{ value }}/">{{ value }}</a> GitHub仓库存在。
{%- elif key == "plugin_type" %}
插件类型: {{ value|plugin_type_to_str }}。
{%- elif key == "action_url" %}
{% if skip_plugin_test %}
插件 <a href="{{ value }}">加载测试</a> 已跳过。
{%- else %}
插件 <a href="{{ value }}">加载测试</a> 通过。
{%- endif %}
{% else %}
{{ key }}: {{ value }}。
{%- endif %}
{% endmacro %}
